* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: sans-serif;
    padding: 1rem;
}

.color-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.color-box {
    height: 18rem;
    width: 48rem;
    border: none;
    border-radius: 22px;
    font-size: 1.5rem;
    background-color: #e0e0e0;
    text-align: center;
    padding: 1rem;
    color: white;
}

p,
.hex-code {
    font-size: 1rem;
    padding: 1rem;
    background-color: #e0e0e0;
    border-radius: 20px;
    width: 14rem;
    height: 3rem;
    color: white;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 2rem;
    color: skyblue;
}

button {
    padding: 1rem;
    border-radius: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: skyblue;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 3px 3px 12px skyblue;
    width: 14rem;
}

button:active {
    opacity: 0.7;
}

    {
    padding: 1rem;
    width: 14rem;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    background-color: #e0e0e0;
}

.fa-clipboard {
    cursor: pointer;
}

.previous-generated-colors {
    color: white;
    border: none;
    width: auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.previous-generated-colors span {
    height: 2rem;
    width: 2rem;
    border-radius: 12px;
    border: none;
}

h3 {
    color: skyblue;
    font-size: 1rem;
    margin-top: 2rem;
}